.equipos-header {
  background-color: #dc3545;
<<<<<<< Updated upstream
  margin-top: 120px;
  
=======
>>>>>>> Stashed changes
}

.equipos-header > h4,
h5,
h7 {
  margin-left: 60px;
}

.table{
  text-align: center;
}
