
*{
  box-sizing: border-box;
}
.fondo{
  background-image: url("/images/bg-p1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.fondo2{
  background-image: url("/images/bg-Latesthp2.png");
  float:left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*columnas de index*/
.form{
  display:grid;
  grid-template-columns: 1fr 1fr;/*numero de columnas*/
  colum-gap:1rem;/*margen entre columnas*/
  margin: 1rem 1rem;
  padding-top:3rem ;
  padding-left: 15rem;
  padding-right: 15rem;
}

/*slider index*/
.carousel-caption {
  height: 100%;
  top:50px;
  width: 340px;

}
.carousel-caption p {
  font-size: 15px;
  line-height: 18px;
}


.carousel-caption .h2 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.carousel-caption img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


/*contenedor para carrusel*/
.contenedor {
  padding-top: 15rem;
  padding-left: 15rem;
  padding-right: 15rem;
}
  /*carrusel*/
.carousel{
  min-height: 500px;

}
/*carrusel galeria*/
.carousel .carousel-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 550px;
  height: 500px;

}
.carousel .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.carousel .indicators .indicator-item{
  border-radius: 0;
  transform: rotate(45deg);
  margin: 0 15px;


}
.galeria{
  padding-top:45rem ;
}


